<div class="card">
  <img src="{{ recipe.imagePath }}" class="card-img-top" alt="..." />
  <div class="card-body">
    <div class="card-title mb-3">
      <h5>{{ recipe.name }}</h5>
      <div class="btn-group">
        <button
          class="btn btn-outline-primary btn-sm dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Manage Recipe
        </button>
        <ul
          class="dropdown-menu dropdown-menu-dark dropdown-menu-end"
          aria-labelledby="dropdownMenuButton2"
        >
          <li><a class="dropdown-item" href="#">To Shopping List</a></li>
          <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item text-danger" href="#">Delete Recipe</a>
          </li>
        </ul>
      </div>
    </div>
    <p class="card-text fs-5">
      {{ recipe.description }}
    </p>
    <hr />
    <h6 class="card-subtitle mb-2 text-muted">Ingredients :</h6>
  </div>
</div>
